
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.2rem;
}.acer-predator-helios-300-eYZ {
  height: 65.8rem;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: rgba(63, 63, 63, 0.6999999881);
  border-radius: 6.3rem;
  width: 100%;

  .group-19-zMX {
    box-sizing: border-box;
    font-size: 3.2rem;
    font-weight: 700;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
    width: 50.2rem;
    line-height: 1.5204000473;
    border-bottom: solid 0.1rem #ffffff;
    letter-spacing: 0.448rem;
    white-space: nowrap;
    height: 6.3rem;
    position: absolute;
    left: 33.3rem;
    top: 4.6rem;
  }
  .processor-intel-core-i7-7700hq-4-x-28-38-ghz-kaby-lake-graphics-adapter-nvidia-geforce-gtx-1060-mobile-6-gb-vram-core-1455-mhz-memory-8000-mhz-gddr5-forceware-38494-nvidia-optimus-memory-16-gb-ddr4-2400-2-of-2-slots-filled-max-32-gb-display-1730-inch-16-9-1920-x-1080-pixel-127-ppi-lg-lp173wf4-spf5-lgd056d-ah-ips-wled-262k-60hz-lcm-a-si-tft-lcd-glossy-no-mainboard-hm175-storage-intel-ssd-600p-ssdpekkw512g7-512-gb-m2-2280-weight-2876-kg-10145-oz-634-pounds-power-supply-584-g-206-oz-129-pounds-fCm {
    font-weight: 700;
    font-family: DM Sans, 'Source Sans Pro';
    height: 41.3rem;
    position: absolute;
    font-size: 1.7rem;
    line-height: 1.5168299955;
    color: #00d1ff;
    width: 97.9rem;
    left: 6.5rem;
    top: 18rem;
  }
  .rectangle-44-Wch {
    filter: blur(0.98rem);
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    border: solid 0.6rem #00d1ff;
    width: 114.6rem;
    height: 64.5rem;
    box-sizing: border-box;
    border-radius: 6.3rem;
  }
  .rectangle-45-RUm {
    top: 0.7rem;
    border: solid 0.6rem #00d1ff;
    box-sizing: border-box;
    border-radius: 6.3rem;
    width: 114.6rem;
    height: 64.5rem;
    position: absolute;
    left: 0.8rem;
  }
}
