
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.home-ihw {
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-vrw5-9oF {
    margin-right: 1.7rem;
    width: 88.5rem;
    height: 94.2rem;
    position: relative;
    background-color: rgba(0, 209, 255, 0.6499999762);
    flex-shrink: 0;

    .ellipse-3-oFX {
      object-fit: contain;
      vertical-align: top;
      width: 63.1rem;
      height: 60.2rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .product-vL9 {
      top: 3rem;
      font-size: 1.3rem;
      letter-spacing: 0.468rem;
      font-family: Montserrat, 'Source Sans Pro';
      position: absolute;
      left: 49.2rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      white-space: nowrap;
      width: 10.6rem;
      height: 1.6rem;
    }
    .group-2-a9o {
      width: 39.2rem;
      height: 44.5rem;
      position: absolute;
      left: 18.2rem;
      top: 11.3rem;
      box-shadow: 0.8rem 0.8rem 0.97rem rgba(0, 0, 0, 0.25);

      .rectangle-5-VnZ {
        width: 31.4rem;
        height: 39rem;
        position: absolute;
        left: 4.7rem;
        top: 3.6rem;
        background-color: #2a2a2a;
        border-radius: 2.3rem;
      }
      .group-3-1F7 {
        height: 2.7rem;
        top: 29rem;
        white-space: nowrap;
        border-radius: 0.7rem;
        left: 16.5rem;
        font-size: 1.4rem;
        color: #000000;
        font-family: Exo 2, 'Source Sans Pro';
        font-weight: 500;
        align-items: center;
        width: 7.8rem;
        position: absolute;
        line-height: 1.5204000473;
        display: flex;
        justify-content: center;
        background-color: #00d1ff;
      }
      .rectangle-8-FQM {
        border-radius: 1.1rem;
        width: 6.5rem;
        height: 6.2rem;
        position: absolute;
        left: 32.7rem;
        top: 38.3rem;
        background-color: rgba(0, 209, 255, 0.8199999928);
      }
      .rectangle-7-Lgh {
        background-color: rgba(0, 209, 255, 0.8600000143);
        border-radius: 1.1rem;
        width: 9.4rem;
        height: 9rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .group-5-GaM {
        top: 12.5rem;
        border-radius: 0.5rem;
        width: 24.5rem;
        height: 4.9rem;
        position: absolute;
        left: 8.2rem;

        .username-oKP {
          white-space: nowrap;
          margin-bottom: 0.3rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5204000473;
          color: #ffffff;
          font-family: Exo 2, 'Source Sans Pro';
        }
        .rectangle-6-jTw {
          width: 100%;
          height: 2.4rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
        }
      }
      .group-4-GTs {
        left: 8.2rem;
        top: 19.2rem;
        border-radius: 0.5rem;
        width: 24.5rem;
        height: 4.9rem;
        position: absolute;

        .password-BKw {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5204000473;
          color: #ffffff;
          font-family: Exo 2, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.3rem;
        }
        .rectangle-9-Wt1 {
          width: 100%;
          height: 2.4rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
        }
      }
      .login-rgy {
        color: #ffffff;
        font-family: Exo 2, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.7rem;
        left: 17.4rem;
        top: 5.6rem;
        font-size: 2rem;
        line-height: 1.5204000473;
        height: 3.1rem;
        position: absolute;
        font-weight: 700;
      }
      .group-6-Mtd {
        align-items: center;
        border-radius: 0.3rem;
        width: 9.2rem;
        height: 1.8rem;
        position: absolute;
        left: 8.2rem;
        top: 24.7rem;
        display: flex;

        .rectangle-11-tNm {
          margin-right: 0.5rem;
          width: 1.2rem;
          height: 1.2rem;
          background-color: #ffffff;
          border-radius: 0.3rem;
          flex-shrink: 0;
        }
        .remember-me-nyw {
          color: #ffffff;
          font-family: Exo 2, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 1.5203999606;
        }
      }
      .forgot-password-7mK {
        position: absolute;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5204000473;
        font-family: Exo 2, 'Source Sans Pro';
        width: 11.4rem;
        left: 22.8rem;
        top: 24.7rem;
        color: #ffffff;
        white-space: nowrap;
        height: 1.9rem;
      }
      .dont-have-account-sign-up-pQq {
        height: 1.9rem;
        left: 12.3rem;
        top: 34.3rem;
        display: flex;
        width: 18.9rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5204000473;
        color: #ffffff;
        font-family: Exo 2, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        position: absolute;

        .dont-have-account-sign-up-pQq-sub-0 {
        }
        .dont-have-account-sign-up-pQq-sub-1 {
          font-size: 1.2rem;
          font-weight: 900;
          line-height: 1.5204000473;
          color: #ffffff;
          font-family: Exo 2, 'Source Sans Pro';
        }
      }
    }
    .group-7-neV {
      height: 72rem;
      left: 0;
      top: 0;
      background-color: #2a2a2a;
      padding: 0.9rem 1.7rem 3.7rem 1.7rem;
      width: 12.4rem;
      position: absolute;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .logo-1-svq {
        position: relative;
        background-size: 151.057% 136.24%;
        background-position: -2.3656rem -1.7166rem;
        background-image: url('REPLACE_IMAGE:a47c2ad9162c15bcf7d94aafbbb334d86af9102d');
        flex-shrink: 0;
        margin-bottom: 28.2rem;
        width: 9rem;
        height: 10rem;
      }
      .group-11-xSV {
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-10-gdP {
        margin-bottom: 3rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-9-2hF {
        margin: 0rem 0.2rem 3rem 0rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-8-vnd {
        vertical-align: top;
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
      }
    }
    .group-12-4tq {
      line-height: 1.5204000927;
      color: #ffffff;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 20.5rem;
      height: 5.9rem;
      position: absolute;
      left: 28.4rem;
      top: 60.3rem;
      font-size: 2.1rem;
      white-space: nowrap;
      align-items: center;
      border-radius: 2rem;
      font-weight: 900;
      font-family: Exo 2, 'Source Sans Pro';
      justify-content: center;
      background-color: #00d1ff;
    }
  }
  .auto-group-dzjx-tN5 {
    margin-bottom: 1.1rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-cgww-cYy {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 10.563rem 1.159rem 0rem;
      display: flex;

      .authors-wLM {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        margin-right: 7.1rem;
        letter-spacing: 0.468rem;
      }
      .about-T3o {
        font-size: 1.3rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 26.9625rem;
        font-weight: 700;
        line-height: 1.2175;
        letter-spacing: 0.468rem;
        color: #000000;
      }
      .ci-hamburger-lg-ynq {
        width: 2.775rem;
        height: 1.5294rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2118rem;
      }
    }
    .auto-group-9plf-hTw {
      margin: 0rem 3.8rem 2.4rem 0rem;
      width: 61.8rem;
      height: 55.8rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-4-RPw {
        position: absolute;
        left: 14.1rem;
        top: 8.7rem;
        filter: blur(17.855rem);
        background-color: #000000;
        border-radius: 20rem;
        width: 40rem;
        height: 40rem;
      }
      .komponen-2-wdB {
        height: 55.8rem;
        position: absolute;
        left: 8rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 52.2rem;
      }
      .komponen-Ud7 {
        height: 41.0421rem;
        position: absolute;
        left: 4.4427rem;
        top: 10.7rem;
        box-shadow: 0.7rem 1.1rem 0.87rem rgba(0, 0, 0, 0.25);
        width: 47.2208rem;

        .laptop-1-1sw {
          position: absolute;
          left: 22.02rem;
          top: 4.2868rem;
          object-fit: cover;
          vertical-align: top;
          width: 25.2008rem;
          height: 34.2778rem;
        }
        .mouse-1-9UM {
          height: 21.4452rem;
          position: absolute;
          left: 7.3574rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 21.4452rem;
        }
        .hedset-1-tB3 {
          vertical-align: top;
          width: 27.1421rem;
          height: 27.1421rem;
          position: absolute;
          left: 0;
          top: 13.9rem;
          object-fit: cover;
        }
      }
      .group-1-BR3 {
        height: 23rem;
        position: absolute;
        left: 51.7rem;
        top: 10.7rem;
        display: flex;
        align-items: flex-start;
        width: 10.1rem;

        .rectangle-3-urq {
          width: 0.1rem;
          height: 17.2rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .baf-technology-fLD {
          line-height: 1.2102272511;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 10rem;
          font-size: 1.2rem;
          font-weight: 400;

          .baf-technology-fLD-sub-0 {
            line-height: 1.3025;
            color: #000000;
            font-family: Exo 2, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 200;
          }
          .baf-technology-fLD-sub-1 {
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.3025;
            color: #000000;
            font-family: Exo 2, 'Source Sans Pro';
          }
        }
      }
      .baf-technology-menjual-berbagai-produk-teknologi-dengan-merek-yang-bervariasi-mulai-dari-laptop-sampai-gadget-terkini-semuanya-tersedia-dengan-design-marketplace-yang-futuristik-dapat-memanjakan-mata-anda-agar-tidak-jenuh-dalam-memilih-barang-zG1 {
        font-size: 1.3rem;
        font-family: DM Sans, 'Source Sans Pro';
        width: 30.9rem;
        height: 9.5rem;
        position: absolute;
        left: 0;
        top: 4.6rem;
        font-weight: 400;
        line-height: 1.3671000554;
        color: #000000;

        .baf-technology-menjual-berbagai-produk-teknologi-dengan-merek-yang-bervariasi-mulai-dari-laptop-sampai-gadget-terkini-semuanya-tersedia-dengan-design-marketplace-yang-futuristik-dapat-memanjakan-mata-anda-agar-tidak-jenuh-dalam-memilih-barang-zG1-sub-0 {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.320375;
          color: #000000;
          font-family: Dongle, 'Source Sans Pro';
        }
        .baf-technology-menjual-berbagai-produk-teknologi-dengan-merek-yang-bervariasi-mulai-dari-laptop-sampai-gadget-terkini-semuanya-tersedia-dengan-design-marketplace-yang-futuristik-dapat-memanjakan-mata-anda-agar-tidak-jenuh-dalam-memilih-barang-zG1-sub-1 {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.367625;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .baf-technology-menjual-berbagai-produk-teknologi-dengan-merek-yang-bervariasi-mulai-dari-laptop-sampai-gadget-terkini-semuanya-tersedia-dengan-design-marketplace-yang-futuristik-dapat-memanjakan-mata-anda-agar-tidak-jenuh-dalam-memilih-barang-zG1-sub-2 {
          line-height: 1.367625;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
        }
        .baf-technology-menjual-berbagai-produk-teknologi-dengan-merek-yang-bervariasi-mulai-dari-laptop-sampai-gadget-terkini-semuanya-tersedia-dengan-design-marketplace-yang-futuristik-dapat-memanjakan-mata-anda-agar-tidak-jenuh-dalam-memilih-barang-zG1-sub-3 {
          line-height: 1.367625;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
        }
        .baf-technology-menjual-berbagai-produk-teknologi-dengan-merek-yang-bervariasi-mulai-dari-laptop-sampai-gadget-terkini-semuanya-tersedia-dengan-design-marketplace-yang-futuristik-dapat-memanjakan-mata-anda-agar-tidak-jenuh-dalam-memilih-barang-zG1-sub-4 {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.367625;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
    }
    .komponen-3-rzM {
      box-sizing: border-box;
      align-items: center;
      background-color: #00d1ff;
      padding: 1.2rem 4.5rem 1.132rem 3rem;
      width: 48.2rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.9rem;
      flex-shrink: 0;

      .msi-1-yZB {
        background-image: url('REPLACE_IMAGE:25d6bfc338045e6d0eec6e8cd5a8e0bf602bb870');
        flex-shrink: 0;
        margin: 0.217rem 1.7rem 0rem 0rem;
        width: 3.2rem;
        height: 3.8857rem;
        position: relative;
        background-size: 257.143% 105.882%;
        background-position: -2.5143rem -0.1524rem;
      }
      .apple-rcy {
        flex-shrink: 0;
        margin: 0rem 1.9rem 0.168rem 0rem;
        width: 4.3rem;
        height: 4.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .legion-ySh {
        background-position: -7.895rem -3.5087rem;
        background-image: url('REPLACE_IMAGE:2e325a2e0bb9b54f9dfc5d52991b43411fea6f5f');
        flex-shrink: 0;
        margin: 0rem 2.5rem 0.032rem 0rem;
        width: 4rem;
        height: 3.8367rem;
        position: relative;
        background-size: 494.461% 290.701%;
      }
      .tuf-U8Z {
        height: 3.481rem;
        position: relative;
        background-size: 142.724% 176.336%;
        background-position: -0.892rem -0.6244rem;
        background-image: url('REPLACE_IMAGE:7759e2e04b5dacff8ffe1fbd16406aabae54b5d7');
        flex-shrink: 0;
        margin: 0.613rem 2.5rem 0rem 0rem;
        width: 4.3rem;
      }
      .rexus-y5K {
        flex-shrink: 0;
        margin: 0.5rem 1.8rem 0rem 0rem;
        width: 3.3rem;
        height: 3.9684rem;
        position: relative;
        background-size: 129.114% 130%;
        background-position: -0.4386rem -0.2402rem;
        background-image: url('REPLACE_IMAGE:eb21d065978159bd416bbdb32f914700d8647f14');
      }
      .rog-58M {
        margin: 0.185rem 1.8rem 0rem 0rem;
        width: 5.8rem;
        height: 3.2537rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .predator-c8H {
        position: relative;
        background-size: 174.216% 136.24%;
        background-position: -1.3296rem -0.8783rem;
        background-image: url('REPLACE_IMAGE:f0ec96dfc1395cd1cf28bcc6c82bef4d7bebafae');
        flex-shrink: 0;
        margin-bottom: 0.3884rem;
        width: 3.6rem;
        height: 4.08rem;
      }
    }
  }
}
