
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.2rem;
}.lenovo-legion-5-pro-dDT {
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: rgba(63, 63, 63, 0.6999999881);
  border-radius: 6.3rem;
  width: 100%;
  height: 65.8rem;
  position: relative;

  .group-19-yHK {
    box-sizing: border-box;
    width: 40rem;
    position: absolute;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 6.3rem;
    left: 38.3rem;
    line-height: 1.5204000473;
    border-bottom: solid 0.1rem #ffffff;
    letter-spacing: 0.448rem;
    color: #ffffff;
    top: 4.6rem;
    font-size: 3.2rem;
    font-weight: 700;
  }
  .processor-amd-ryzen-7-5800h-8-x-32-44-ghz-65-w-pl2-short-burst-45-w-pl1-sustained-cezanne-h-zen-3-graphics-adapter-nvidia-geforce-rtx-3070-laptop-gpu-140-w-tdp-switchable-hybrid-gpu-mode-uefi-settings-lenovo-vantage-app-radeon-rx-vega-8-memory-32-gb-2x-16-gb-ddr4-3200-dual-channel-display-1600-inch-16-10-2560-x-1600-pixel-189-ppi-csot-t3-mng007da1-1-ips-dolby-vision-vesa-hdr-400-free-sync-g-sync-dc-dimmer-glossy-no-hdr-165-hz-mainboard-amd-promontory-bixby-fch-storage-wdc-pc-sn730-sdbpnty-1t00-1024-gb-897-gb-free-weight-2578-kg-9094-oz-568-pounds-power-supply-1066-kg-376-oz-235-pounds-3HB {
    height: 41.3rem;
    font-weight: 700;
    line-height: 1.5168299955;
    font-size: 1.7rem;
    color: #00d1ff;
    font-family: DM Sans, 'Source Sans Pro';
    width: 102.9rem;
    position: absolute;
    left: 6.5rem;
    top: 18rem;
  }
  .rectangle-44-ewB {
    width: 114.6rem;
    height: 64.5rem;
    left: 0.8rem;
    border: solid 0.6rem #00d1ff;
    box-sizing: border-box;
    filter: blur(0.98rem);
    position: absolute;
    top: 0.7rem;
    border-radius: 6.3rem;
  }
  .rectangle-45-YWm {
    height: 64.5rem;
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    border: solid 0.6rem #00d1ff;
    box-sizing: border-box;
    border-radius: 6.3rem;
    width: 114.6rem;
  }
}
