
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.2rem;
}.msi-cyborg-15-9CM {
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: rgba(63, 63, 63, 0.6999999881);
  border-radius: 6.3rem;
  width: 100%;
  height: 65.8rem;

  .group-19-tQq {
    top: 4.4rem;
    letter-spacing: 0.448rem;
    box-sizing: border-box;
    left: 43.2rem;
    font-weight: 700;
    line-height: 1.5204000473;
    color: #ffffff;
    white-space: nowrap;
    padding: 0rem 0.7rem 0rem 1.4rem;
    width: 29.8rem;
    position: absolute;
    border-bottom: solid 0.1rem #ffffff;
    height: 6.5rem;
    font-size: 3.2rem;
    font-family: DM Sans, 'Source Sans Pro';
  }
  .processor-intel-core-i5-12450h-processor-12m-cache-up-to-440-ghz-display-156-fhd-19201080-144hz-ips-level-memory-8gb-ddr5-4800mhz-max-64gb-storage-512gb-nvme-pcie-ssd-gen4x4-w-o-dram-graphics-nvidia-geforce-rtx-4050-laptop-gpu-6gb-gddr6-keyboard-single-backlit-keyboard-blue-wireless-80211-ax-wi-fi-6-bluetooth-v52-connectivity-1x-type-c-usb32-gen1-dp-2x-type-a-usb32-gen1-1x-hdmi-21-4k-60hz-1x-rj45-1x-mic-in-headphone-out-combo-jack-camera-hd-type-30fps720p-audio-2x-2w-speaker-battery-3-cell-535-battery-whr-120w-adapter-color-translucent-black-operating-system-windows-11-home-office-home-student-2021-iem {
    width: 61.6rem;
    height: 46.5rem;
    left: 6.5rem;
    font-size: 1.7rem;
    font-family: DM Sans, 'Source Sans Pro';
    position: absolute;
    top: 14.4rem;
    font-weight: 700;
    line-height: 1.5168299955;
    color: #00d1ff;
  }
  .rectangle-44-KHB {
    height: 64.5rem;
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    border: solid 0.6rem #00d1ff;
    box-sizing: border-box;
    width: 114.6rem;
    filter: blur(0.98rem);
    border-radius: 6.3rem;
  }
  .rectangle-45-pjj {
    box-sizing: border-box;
    border-radius: 6.3rem;
    width: 114.6rem;
    height: 64.5rem;
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    border: solid 0.6rem #00d1ff;
  }
}
