
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.product-ZM3 {
  padding-bottom: 17.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;

  .navbar-Fjf {
    height: 13.2rem;
    display: flex;
    background-color: #00d1ff;
    flex-shrink: 0;
    padding: 3.7rem 3rem 3.7rem 8.3rem;
    width: 100%;
    align-items: center;
    box-shadow: 0 1.7rem 1.43rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    .group-13-aG9 {
      height: 100%;
      font-family: DM Sans, 'Source Sans Pro';
      border-radius: 1.7rem;
      background-color: #ffffff;
      margin-right: 22.8rem;
      font-size: 2.1rem;
      color: #000000;
      white-space: nowrap;
      align-items: center;
      font-weight: 700;
      line-height: 1.5204000927;
      display: flex;
      flex-shrink: 0;
      width: 18rem;
      justify-content: center;
    }
    .search-SZF {
      margin: 1.7rem 7.4rem 1.5rem 0rem;
      width: 29.8rem;
      height: calc(100% - 3.2rem);
      position: relative;
      flex-shrink: 0;

      .rectangle-17-y3P {
        background-color: #b7b7b7;
        border-radius: 0.9rem;
        width: 13rem;
        height: 2.6rem;
        position: absolute;
        left: 16.8rem;
        top: 0;
      }
      .rectangle-16-tg9 {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.9rem;
        width: 26.4rem;
        height: 2.6rem;
        position: absolute;
      }
      .material-symbols-search-qUu {
        object-fit: contain;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        left: 27.2rem;
        top: 0.4rem;
      }
      .search-Zvh {
        color: #9f9f9f;
        font-family: DM Sans, 'Source Sans Pro';
        left: 1.4rem;
        font-weight: 700;
        line-height: 1.5203999606;
        top: 0.4rem;
        font-size: 1.1rem;
        white-space: nowrap;
        width: 3.8rem;
        height: 1.7rem;
        position: absolute;
      }
    }
    .discount-U25 {
      flex-shrink: 0;
      margin: 0rem 6.3rem 0.2rem 0rem;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 1.5204000927;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .product-zFK {
      line-height: 1.5204000927;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.5rem 0.2rem 0rem;
      font-size: 2.1rem;
      font-weight: 700;
    }
    .authors-753 {
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 1.5204000927;
    }
  }
  .group-18-CsB {
    color: #ffffff;
    flex-shrink: 0;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: DM Sans, 'Source Sans Pro';
    border-bottom: solid 0.1rem #ffffff;
    margin: 0rem 49.1rem 5.8rem 49.1rem;
    padding: 0rem 0.3rem 0rem 1.7rem;
    line-height: 1.5204000473;
    letter-spacing: 1.792rem;
    box-sizing: border-box;
    width: calc(100% - 98.2rem);
    height: 5.8rem;
    white-space: nowrap;
  }
  .rog-strix-g15-SWd {
    margin-bottom: 4.9815rem;
    width: 100%;
    height: 93.5185rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-21-BDK {
      left: 0;
      top: 7.2rem;
      filter: blur(16.765rem);
      background-color: rgba(0, 209, 255, 0.3000000119);
      width: 150.1rem;
      height: 85.2rem;
      position: absolute;
    }
    .group-19-u9K {
      width: 94.3015rem;
      height: 93.5185rem;
      position: absolute;
      left: 54.3rem;
      top: 0;

      .group-15-EhP {
        width: 94.3015rem;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        height: 93.5185rem;
        position: absolute;
        top: 0;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:10:113');

        .polygon-2-NYh {
          object-fit: contain;
          vertical-align: top;
          width: 94.3015rem;
          height: 93.5185rem;
        }
      }
      .danieldinho-removebg-preview-1-tX3 {
        background-position: 0 0;
        background-image: url('REPLACE_IMAGE:e737f2acf86d4aa7e87eec9008534f15447fb101');
        width: 60.3rem;
        height: 41.9rem;
        position: relative;
        left: 12.5rem;
        top: 24.4rem;
        background-size: 100% 98.807%;
      }
    }
    .group-17-mqj {
      flex-direction: column;
      width: 67.1rem;
      height: 51.8rem;
      position: absolute;
      left: 5.9rem;
      top: 23.4rem;
      align-items: flex-end;
      display: flex;
      box-shadow: 1.6rem 1.6rem 2.26rem rgba(0, 0, 0, 0.25);

      .auto-group-a8vq-VWq {
        margin: 0rem 12.7rem 9.9rem 0rem;
        width: 54.4rem;
        height: 34.9rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-18-1zy {
          background-color: #000000;
          border-radius: 1.3rem;
          width: 49.2rem;
          height: 22.4rem;
          position: absolute;
          left: 2.2rem;
          top: 9.5rem;
        }
        .laptop-rog-strix-g15-adalah-perangkat-khusus-yang-diciptakan-untuk-memenuhi-kebutuhan-gamer-sejati-dengan-desain-yang-memukau-laptop-ini-tidak-hanya-menawarkan-performa-tinggi-tetapi-juga-menyajikan-pengalaman-gaming-yang-menggetarkan-desain-futuristiknya-yang-dipadukan-dengan-pencahayaan-rgb-yang-dinamis-akan-memikat-perhatian-anda-sejak-pandangan-pertama-x9X {
          width: 41.1rem;
          left: 4.5rem;
          height: 18.3rem;
          position: absolute;
          top: 10.9rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5203999837;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .rectangle-9-inu {
          top: 28.7rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
          width: 6.5rem;
          height: 6.2rem;
          position: absolute;
          left: 47.9rem;
        }
        .rectangle-14-SU1 {
          width: 4.4rem;
          height: 4.2rem;
          position: absolute;
          left: 0;
          top: 7.4rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
        }
        .group-20-Aeu {
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 52.2rem;
          top: 6.4rem;

          .rectangle-21-JFK {
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
            width: 100%;
          }
        }
        .group-21-vg1 {
          left: 0.8rem;
          top: 16rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;

          .rectangle-21-SuF {
            width: 100%;
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
          }
        }
        .rog-strix-g15-ZU5 {
          width: 35.1rem;
          position: absolute;
          line-height: 1.5204000473;
          font-family: Montserrat, 'Source Sans Pro';
          font-style: italic;
          color: #00d1ff;
          white-space: nowrap;
          height: 7.3rem;
          left: 2.2rem;
          top: 0;
          font-size: 4.8rem;
          font-weight: 900;
        }
      }
      .group-23-fGD {
        height: 7rem;
        font-weight: 900;
        line-height: 1.5203999837;
        font-family: Montserrat, 'Source Sans Pro';
        background-color: #2a2a2a;
        border-radius: 2.3rem;
        width: 17.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 1.5rem;
        white-space: nowrap;
      }
    }
  }
  .neon-hih {
    flex-shrink: 0;
    margin: 0rem 0rem 8.483rem 0rem;
    width: 128rem;
    height: 14.9175rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
  .macbook-pro-m2-2W5 {
    width: 100%;
    height: 85.2rem;
    position: relative;
    filter: blur(16.765rem);
    background-color: rgba(255, 255, 255, 0.3000000119);
    flex-shrink: 0;
    margin-bottom: 15.7rem;

    .group-20-A6V {
      box-shadow: 1.6rem 1.6rem 2.26rem rgba(0, 0, 0, 0.25);
      width: 67.5rem;
      height: 55rem;
      position: absolute;
      left: 55.1rem;
      top: 28.5rem;

      .auto-group-6zrz-JCh {
        margin: 0rem 0rem 8.2rem 13.1rem;
        width: 54.4rem;
        height: 39.8rem;
        position: relative;

        .rectangle-18-pRw {
          width: 49.2rem;
          height: 27.9rem;
          position: absolute;
          left: 2.2rem;
          top: 9.5rem;
          background-color: #000000;
          border-radius: 1.3rem;
        }
        .macbook-pro-m2-membawa-pengalaman-pengguna-ke-level-baru-dengan-kombinasi-kecantikan-desain-yang-khas-apple-dan-kekuatan-canggih-dari-teknologi-terbaru-dibuat-dengan-presisi-dan-perhatian-terhadap-detail-macbook-pro-m2-adalah-perangkat-yang-merangkul-keindahan-estetika-modern-dengan-kehadiran-layar-retina-yang-tajam-dan-warna-yang-hidup-macbook-pro-m2-memberikan-pengalaman-visual-yang-memukau-membuat-setiap-tugas-dari-pekerjaan-kreatif-hingga-hiburan-multimedia-menjadi-lebih-memikat-desainnya-yang-ramping-dan-ringan-memberikan-portabilitas-tanpa-mengorbankan-performa-wmT {
          width: 43.5rem;
          height: 25.1rem;
          position: absolute;
          left: 4.5rem;
          top: 10.9rem;
          line-height: 1.5203999837;
          font-family: DM Sans, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 700;
          color: #ffffff;
        }
        .rectangle-9-E8H {
          height: 6.2rem;
          position: absolute;
          left: 47.9rem;
          top: 33.6rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
          width: 6.5rem;
        }
        .rectangle-14-x4H {
          width: 4.4rem;
          height: 4.2rem;
          position: absolute;
          left: 0;
          top: 7.4rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
        }
        .group-20-gky {
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 52.2rem;
          top: 6.4rem;
          filter: blur(0.395rem);
          background-color: #ffffff;

          .rectangle-21-cuX {
            width: 100%;
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
          }
        }
        .group-21-LqX {
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 0.8rem;
          top: 16rem;

          .rectangle-21-HEy {
            width: 100%;
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
          }
        }
        .macbook-pro-m2-QKb {
          position: absolute;
          left: 2.2rem;
          font-size: 4.8rem;
          font-weight: 900;
          font-style: italic;
          white-space: nowrap;
          width: 43.4rem;
          top: 0;
          line-height: 1.5204000473;
          color: #00d1ff;
          font-family: Montserrat, 'Source Sans Pro';
          height: 7.3rem;
        }
      }
      .group-24-iLH {
        font-weight: 900;
        font-family: Montserrat, 'Source Sans Pro';
        align-items: center;
        border-radius: 2.3rem;
        width: 17.9rem;
        height: 7rem;
        font-size: 1.5rem;
        line-height: 1.5203999837;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        background-color: #2a2a2a;
      }
    }
    .group-22-n5F {
      border: solid 2rem #ffffff;
      box-sizing: border-box;
      background-color: rgba(217, 217, 217, 0);
      width: 44.4rem;
      position: absolute;
      top: 26.1rem;
      filter: blur(2.005rem);
      border-radius: 22.2rem;
      height: 44.4rem;
      left: 9.4rem;

      .ellipse-10-iDo {
        border-radius: 22.2rem;
        width: 100%;
        height: 44.4rem;
        border: solid 1.1rem #ffffff;
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0);
      }
    }
    .macbookpro162023m2skins-fullcoloursilverblackwood-removebg-preview-1-nzM {
      width: 54.8rem;
      height: 37.5rem;
      position: relative;
      left: 4.2rem;
      top: 30.4rem;
      background-size: 100% 146.115%;
      background-position: 0 -8.8346rem;
      background-image: url('REPLACE_IMAGE:72751e0754a7610cf55594ba007ff022229de63c');
    }
  }
  .neon-2-dEH {
    width: 128rem;
    height: 14.9175rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 7.283rem 0rem;
  }
  .asus-tuf-f15-MAH {
    margin-bottom: 6.2815rem;
    width: 100%;
    height: 93.5185rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-22-5ry {
      width: 150.1rem;
      height: 85.2rem;
      position: absolute;
      left: 0;
      top: 7.2rem;
      filter: blur(16.765rem);
      background-color: rgba(0, 209, 255, 0.3000000119);
    }
    .group-16-DCV {
      width: 94.3015rem;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 93.5185rem;
      position: absolute;
      left: 54.3rem;
      background-image: url('REPLACE_IMAGE:45:113');

      .polygon-2-MJh {
        height: 93.5185rem;
        object-fit: contain;
        vertical-align: top;
        width: 94.3015rem;
      }
    }
    .group-24-TsX {
      display: flex;
      position: absolute;
      left: 55.1rem;
      font-size: 1.5rem;
      line-height: 1.5203999837;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      align-items: center;
      top: 68.2rem;
      font-weight: 900;
      white-space: nowrap;
      justify-content: center;
      background-color: #2a2a2a;
      border-radius: 2.3rem;
      width: 17.9rem;
      height: 7rem;
    }
    .rectangle-19-w21 {
      position: absolute;
      left: 8.1rem;
      top: 32.9rem;
      background-color: #000000;
      border-radius: 1.3rem;
      width: 49.2rem;
      height: 22.4rem;
    }
    .laptop-asus-tuf-f15-adalah-inkarnasi-kekuatan-dan-keandalan-dalam-bentuk-yang-menggoda-dirancang-untuk-para-pemenang-yang-tak-kenal-lelah-laptop-ini-tidak-hanya-menjanjikan-performa-tinggi-tetapi-juga-tahan-banting-dan-siap-menghadapi-setiap-tantangan-dengan-desain-yang-tangguh-namun-tetap-stylish-asus-tuf-f15-menampilkan-identitas-gaming-yang-kuat-G4H {
      position: absolute;
      top: 35.9rem;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      width: 43.5rem;
      height: 16rem;
      left: 10.4rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5203999837;
    }
    .rectangle-20-S7B {
      height: 6.2rem;
      position: absolute;
      left: 53.8rem;
      top: 52.1rem;
      background-color: rgba(0, 209, 255, 0.8199999928);
      border-radius: 1.1rem;
      width: 6.5rem;
    }
    .rectangle-21-9nH {
      border-radius: 1.1rem;
      width: 4.4rem;
      height: 4.2rem;
      position: absolute;
      left: 5.9rem;
      top: 30.8rem;
      background-color: rgba(0, 209, 255, 0.8199999928);
    }
    .group-25-5fw {
      background-color: #ffffff;
      border-radius: 1.1rem;
      width: 0.7rem;
      height: 17rem;
      position: absolute;
      left: 58.1rem;
      top: 29.8rem;
      filter: blur(0.395rem);

      .rectangle-21-pdX {
        width: 100%;
        height: 17rem;
        background-color: #ffffff;
        border-radius: 1.1rem;
      }
    }
    .group-26-YpR {
      filter: blur(0.395rem);
      background-color: #ffffff;
      border-radius: 1.1rem;
      width: 0.7rem;
      height: 17rem;
      position: absolute;
      left: 6.7rem;
      top: 39.4rem;

      .rectangle-21-6L9 {
        background-color: #ffffff;
        border-radius: 1.1rem;
        width: 100%;
        height: 17rem;
      }
    }
    .asustufgamingf15gaminglaptop156144hzfhdips-typedisplayintelcorei7-11800hpro-removebg-preview-1-RNR {
      top: 15.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 53.0017rem;
      height: 59.6176rem;
      position: absolute;
      left: 74.6rem;
    }
    .asus-tuf-f15-W8y {
      width: 33.6rem;
      height: 7.3rem;
      position: absolute;
      top: 23.4rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      left: 8.1rem;
      font-size: 4.8rem;
      font-weight: 900;
      line-height: 1.5204000473;
      font-style: italic;
      color: #00d1ff;
    }
  }
  .neon-3-bAR {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 9.083rem 0rem;
    width: 128rem;
    height: 14.9175rem;
  }
  .acer-predator-helios-300-uwo {
    height: 85.2rem;
    position: relative;
    filter: blur(16.765rem);
    background-color: rgba(255, 255, 255, 0.3000000119);
    flex-shrink: 0;
    margin-bottom: 10.7rem;
    width: 100%;

    .group-23-Ez5 {
      width: 67.5rem;
      height: 54rem;
      position: absolute;
      left: 55.1rem;
      top: 29.5rem;
      box-shadow: 1.6rem 1.6rem 2.26rem rgba(0, 0, 0, 0.25);

      .auto-group-xnck-nEu {
        height: 36.4rem;
        position: relative;
        margin: 0rem 0rem 10.6rem 12.3rem;
        width: 55.2rem;

        .rectangle-18-uKX {
          width: 49.2rem;
          height: 25.2rem;
          position: absolute;
          left: 3rem;
          top: 8.5rem;
          background-color: #000000;
          border-radius: 1.3rem;
        }
        .laptop-acer-predator-helios-300-adalah-manifestasi-kegaharan-dalam-dunia-gaming-menggabungkan-daya-tahan-dan-performa-kelas-atas-dalam-paket-yang-memikat-desainnya-yang-agresif-dan-futuristik-segera-mencuri-perhatian-memberikan-kesan-bahwa-perangkat-ini-lahir-untuk-menguasai-medan-pertempuran-digital-layar-tajam-dan-berwarna-memberikan-pengalaman-visual-yang-mendalam-menjadikan-setiap-game-atau-konten-multimedia-menjadi-lebih-hidup-qU5 {
          font-family: DM Sans, 'Source Sans Pro';
          top: 10.6rem;
          font-size: 1.5rem;
          line-height: 1.5203999837;
          left: 5.3rem;
          font-weight: 700;
          color: #ffffff;
          width: 43.3rem;
          height: 20.6rem;
          position: absolute;
        }
        .rectangle-9-apy {
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
          width: 6.5rem;
          height: 6.2rem;
          position: absolute;
          left: 48.7rem;
          top: 30.2rem;
        }
        .rectangle-14-v89 {
          position: absolute;
          left: 0.8rem;
          top: 6.4rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
          width: 4.4rem;
          height: 4.2rem;
        }
        .group-20-EPj {
          top: 5.4rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 53rem;

          .rectangle-21-NVw {
            width: 100%;
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
          }
        }
        .group-21-VaZ {
          left: 1.6rem;
          top: 15rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;

          .rectangle-21-EY9 {
            background-color: #ffffff;
            border-radius: 1.1rem;
            width: 100%;
            height: 17rem;
          }
        }
        .acer-predator-helios-300-xU9 {
          font-size: 3.9rem;
          font-style: italic;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.5204000228;
          color: #00d1ff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 52.9rem;
          height: 6rem;
          font-weight: 900;
        }
      }
      .group-24-ftM {
        white-space: nowrap;
        justify-content: center;
        background-color: #2a2a2a;
        border-radius: 2.3rem;
        font-weight: 900;
        line-height: 1.5203999837;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        align-items: center;
        width: 17.9rem;
        height: 7rem;
        font-size: 1.5rem;
        display: flex;
      }
    }
    .group-24-9Hj {
      border-radius: 22.2rem;
      height: 44.4rem;
      position: absolute;
      box-sizing: border-box;
      filter: blur(2.005rem);
      background-color: rgba(217, 217, 217, 0);
      width: 44.4rem;
      left: 9.4rem;
      top: 26.1rem;
      border: solid 2rem #ffffff;

      .ellipse-10-gYZ {
        border-radius: 22.2rem;
        width: 100%;
        height: 44.4rem;
        border: solid 1.1rem #ffffff;
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0);
      }
    }
    .acerpredatorhelios300i7-11800h16gb1tbwindows11home156laptop-removebg-preview-1-mpu {
      height: 37.006rem;
      position: relative;
      left: 1.6rem;
      top: 29.5rem;
      background-size: 119.76% 194.175%;
      background-position: -5.6287rem -17.3653rem;
      background-image: url('REPLACE_IMAGE:797be2bc2ccc013b0fd877bbec04f3c43a4e2eee');
      width: 60rem;
    }
  }
  .neon-4-CQR {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 7.383rem 0rem;
    width: 128rem;
    height: 14.9175rem;
  }
  .lenovo-legion-5-pro-vrD {
    flex-shrink: 0;
    margin-bottom: 8.3815rem;
    width: 100%;
    height: 93.5185rem;
    position: relative;

    .rectangle-22-fJ1 {
      height: 85.2rem;
      position: absolute;
      left: 0;
      top: 7.2rem;
      filter: blur(16.765rem);
      background-color: rgba(0, 209, 255, 0.3000000119);
      width: 150.1rem;
    }
    .group-16-Bn9 {
      width: 94.3015rem;
      height: 93.5185rem;
      position: absolute;
      left: 54.3rem;
      background-repeat: no-repeat;
      top: 0;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:46:113');

      .polygon-2-vjj {
        width: 94.3015rem;
        height: 93.5185rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-24-efj {
      height: 7rem;
      font-size: 1.5rem;
      line-height: 1.5203999837;
      justify-content: center;
      top: 68.2rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.9rem;
      color: #ffffff;
      display: flex;
      border-radius: 2.3rem;
      position: absolute;
      left: 55.1rem;
      font-weight: 900;
      align-items: center;
      background-color: #2a2a2a;
    }
    .rectangle-19-Wxq {
      height: 22.4rem;
      position: absolute;
      left: 8.1rem;
      top: 32.9rem;
      background-color: #000000;
      border-radius: 1.3rem;
      width: 49.2rem;
    }
    .lenovo-legion-5-pro-adalah-simbol-kekuatan-dan-presisi-dalam-dunia-gaming-dengan-desain-yang-menawan-dan-futuristik-laptop-ini-memikat-mata-sejak-pandangan-pertama-memberikan-kesan-bahwa-performa-tinggi-dan-keunggulan-gaming-telah-ditanamkan-dalam-setiap-sentuhan-layar-yang-besar-dan-tajam-menampilkan-dunia-virtual-dengan-kejelasan-luar-biasa-menyuguhkan-pengalaman-gaming-yang-mendalam-3hs {
      font-weight: 700;
      color: #ffffff;
      width: 43rem;
      font-size: 1.5rem;
      left: 10.4rem;
      top: 34.7rem;
      line-height: 1.5203999837;
      font-family: DM Sans, 'Source Sans Pro';
      height: 18.3rem;
      position: absolute;
    }
    .rectangle-20-QRw {
      left: 53.8rem;
      top: 52.1rem;
      background-color: rgba(0, 209, 255, 0.8199999928);
      border-radius: 1.1rem;
      width: 6.5rem;
      height: 6.2rem;
      position: absolute;
    }
    .rectangle-21-jUD {
      width: 4.4rem;
      height: 4.2rem;
      position: absolute;
      left: 5.9rem;
      top: 30.8rem;
      background-color: rgba(0, 209, 255, 0.8199999928);
      border-radius: 1.1rem;
    }
    .group-25-fMs {
      position: absolute;
      left: 58.1rem;
      top: 29.8rem;
      filter: blur(0.395rem);
      background-color: #ffffff;
      border-radius: 1.1rem;
      width: 0.7rem;
      height: 17rem;

      .rectangle-21-zuw {
        width: 100%;
        height: 17rem;
        background-color: #ffffff;
        border-radius: 1.1rem;
      }
    }
    .group-26-7zZ {
      border-radius: 1.1rem;
      width: 0.7rem;
      height: 17rem;
      position: absolute;
      left: 6.7rem;
      top: 39.4rem;
      filter: blur(0.395rem);
      background-color: #ffffff;

      .rectangle-21-4eu {
        height: 17rem;
        background-color: #ffffff;
        border-radius: 1.1rem;
        width: 100%;
      }
    }
    .lenovo-legion-5-pro-PhB {
      white-space: nowrap;
      position: absolute;
      left: 8.1rem;
      font-style: italic;
      color: #00d1ff;
      font-family: Montserrat, 'Source Sans Pro';
      line-height: 1.5203999837;
      width: 49.7rem;
      height: 6.9rem;
      top: 23.4rem;
      font-size: 4.5rem;
      font-weight: 900;
    }
    .popularlenovolegion5progaminglaptopwithrtx3070dropstous1099forblackfriday-removebg-preview-1-77P {
      height: 52.8347rem;
      position: absolute;
      left: 62.7569rem;
      top: 18.7327rem;
      object-fit: cover;
      vertical-align: top;
      width: 68.8863rem;
    }
  }
  .neon-5-njK {
    flex-shrink: 0;
    margin: 0rem 0rem 10.283rem 0rem;
    width: 128rem;
    height: 14.9175rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
  .rexus-vonix-f15-7mb {
    margin-bottom: 17.4rem;
    box-sizing: border-box;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0.3000000119);
    flex-shrink: 0;
    padding: 26.1rem 18.2rem 1.7rem 18.7rem;
    width: 100%;
    display: flex;
    filter: blur(16.765rem);

    .auto-group-8kp3-qSh {
      width: 44.4rem;
      height: 44.4rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.3rem 13rem 0rem;

      .group-22-Mfw {
        height: 44.4rem;
        position: absolute;
        left: 0;
        border: solid 2rem #ffffff;
        border-radius: 22.2rem;
        width: 44.4rem;
        top: 0;
        box-sizing: border-box;
        filter: blur(2.005rem);
        background-color: rgba(217, 217, 217, 0);

        .ellipse-10-hUu {
          width: 100%;
          height: 44.4rem;
          border: solid 1.1rem #ffffff;
          box-sizing: border-box;
          background-color: rgba(217, 217, 217, 0);
          border-radius: 22.2rem;
        }
      }
      .rexusvonixf13-removebg-preview-1-zD7 {
        background-size: 153.374% 148.81%;
        background-position: -4.7853rem -6.1656rem;
        background-image: url('REPLACE_IMAGE:bb57600cb4c2985527aabea33f69fcc548435334');
        width: 30rem;
        height: 30.9203rem;
        position: relative;
        left: 5.8rem;
        top: 6.7rem;
      }
    }
    .group-20-UPB {
      display: flex;
      flex-direction: column;
      box-shadow: 1.6rem 1.6rem 2.26rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .auto-group-1q4o-S57 {
        margin: 0rem 0rem 13.1rem 13.1rem;
        width: 54.4rem;
        height: 34.9rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-18-vW5 {
          border-radius: 1.3rem;
          width: 49.2rem;
          height: 22.4rem;
          position: absolute;
          left: 2.2rem;
          top: 9.5rem;
          background-color: #000000;
        }
        .headset-rexus-vonix-f15-adalah-jawaban-atas-kebutuhan-audio-gaming-yang-intens-dan-mendalam-desainnya-yang-ergonomis-tidak-hanya-memikat-mata-tetapi-juga-memberikan-kenyamanan-maksimal-untuk-sesi-gaming-yang-panjang-dengan-pencahayaan-led-yang-menghadirkan-sentuhan-futuristik-headset-ini-menghadirkan-pengalaman-gaming-yang-tak-terlupakan-SjK {
          left: 4.5rem;
          font-weight: 700;
          line-height: 1.5203999837;
          height: 16rem;
          position: absolute;
          font-size: 1.5rem;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          width: 42.3rem;
          top: 12.1rem;
        }
        .rectangle-9-oTP {
          width: 6.5rem;
          height: 6.2rem;
          position: absolute;
          left: 47.9rem;
          top: 28.7rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
        }
        .rectangle-14-vY1 {
          border-radius: 1.1rem;
          width: 4.4rem;
          height: 4.2rem;
          position: absolute;
          left: 0;
          top: 7.4rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
        }
        .group-20-rRf {
          left: 52.2rem;
          top: 6.4rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;

          .rectangle-21-zGy {
            background-color: #ffffff;
            border-radius: 1.1rem;
            width: 100%;
            height: 17rem;
          }
        }
        .group-21-JoT {
          top: 16rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 0.8rem;

          .rectangle-21-2zM {
            width: 100%;
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
          }
        }
        .rexus-vonix-f15-AKs {
          color: #00d1ff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 41.6rem;
          position: absolute;
          top: 0;
          line-height: 1.5204000473;
          font-style: italic;
          height: 7.3rem;
          left: 2.2rem;
          font-size: 4.8rem;
          font-weight: 900;
        }
      }
      .group-24-sVB {
        font-weight: 900;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-family: Montserrat, 'Source Sans Pro';
        width: 17.9rem;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        background-color: #2a2a2a;
        border-radius: 2.3rem;
        flex-shrink: 0;
        height: 7rem;
        line-height: 1.5203999837;
      }
    }
  }
  .neon-6-hUD {
    margin: 0rem 0rem 4.183rem 0rem;
    width: 128rem;
    height: 14.9175rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .asus-rog-spatha-x-gaming-mouse-DxM {
    flex-shrink: 0;
    margin-bottom: 10.0815rem;
    width: 100%;
    height: 93.5185rem;
    position: relative;

    .rectangle-23-x9F {
      left: 0;
      top: 7.2rem;
      filter: blur(16.765rem);
      background-color: rgba(0, 209, 255, 0.3000000119);
      width: 150.1rem;
      height: 85.2rem;
      position: absolute;
    }
    .group-27-gb3 {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:52:4');
      width: 94.3015rem;
      position: absolute;
      left: 54.3rem;
      top: 0;
      background-position: center;
      height: 93.5185rem;

      .polygon-2-297 {
        width: 94.3015rem;
        height: 93.5185rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-28-x2m {
      left: 55.1rem;
      line-height: 1.5203999837;
      align-items: center;
      top: 68.2rem;
      white-space: nowrap;
      background-color: #2a2a2a;
      border-radius: 2.3rem;
      height: 7rem;
      font-size: 1.5rem;
      font-weight: 900;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      display: flex;
      width: 17.9rem;
      position: absolute;
      justify-content: center;
    }
    .rectangle-24-pqf {
      height: 22.4rem;
      position: absolute;
      left: 8.1rem;
      top: 32.9rem;
      background-color: #000000;
      border-radius: 1.3rem;
      width: 49.2rem;
    }
    .asus-rog-spatha-x-gaming-mouse-adalah-senjata-andal-bagi-para-gamer-yang-mengincar-kemenangan-dalam-pertempuran-virtual-dengan-desain-yang-agresif-dan-ergonomis-mouse-gaming-ini-tidak-hanya-memanjakan-mata-tetapi-juga-memberikan-kenyamanan-optimal-selama-sesi-permainan-yang-panjang-dengan-pencahayaan-rgb-yang-dinamis-spatha-x-memberikan-sentuhan-futuristik-yang-sesuai-dengan-gaya-gaming-modern-9sw {
      top: 34.5rem;
      line-height: 1.5203999837;
      height: 18.3rem;
      position: absolute;
      left: 10.4rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      width: 43.4rem;
    }
    .rectangle-25-X7o {
      width: 6.5rem;
      height: 6.2rem;
      position: absolute;
      left: 53.8rem;
      top: 52.1rem;
      background-color: rgba(0, 209, 255, 0.8199999928);
      border-radius: 1.1rem;
    }
    .rectangle-26-3M3 {
      width: 4.4rem;
      height: 4.2rem;
      position: absolute;
      left: 5.9rem;
      top: 30.8rem;
      background-color: rgba(0, 209, 255, 0.8199999928);
      border-radius: 1.1rem;
    }
    .group-29-mnq {
      border-radius: 1.1rem;
      width: 0.7rem;
      height: 17rem;
      position: absolute;
      left: 58.1rem;
      top: 29.8rem;
      filter: blur(0.395rem);
      background-color: #ffffff;

      .rectangle-21-uu3 {
        height: 17rem;
        background-color: #ffffff;
        border-radius: 1.1rem;
        width: 100%;
      }
    }
    .group-30-qnh {
      background-color: #ffffff;
      border-radius: 1.1rem;
      width: 0.7rem;
      height: 17rem;
      position: absolute;
      left: 6.7rem;
      top: 39.4rem;
      filter: blur(0.395rem);

      .rectangle-21-BrZ {
        width: 100%;
        height: 17rem;
        background-color: #ffffff;
        border-radius: 1.1rem;
      }
    }
    .lenovo-legion-5-pro-7VK {
      width: 67.7rem;
      height: 5.5rem;
      top: 22.6rem;
      font-weight: 900;
      line-height: 1.5204000473;
      font-style: italic;
      position: absolute;
      left: 5.9rem;
      font-size: 3.6rem;
      color: #00d1ff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .spathax-removebg-preview-1-pPj {
      width: 33.5rem;
      height: 25.1rem;
      position: absolute;
      left: 84.7rem;
      top: 34.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .neon-7-Lcy {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 9.183rem 0rem;
    width: 128rem;
    height: 14.9175rem;
  }
  .msi-cyborg-15-ffF {
    padding: 26.1rem 18.2rem 1.7rem 18.7rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    filter: blur(16.765rem);
    background-color: rgba(255, 255, 255, 0.3000000119);
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-3bth-CQH {
      margin: 0rem 1.3rem 13rem 0rem;
      width: 44.4rem;
      height: 44.4rem;
      position: relative;
      flex-shrink: 0;

      .group-24-j9K {
        height: 44.4rem;
        border: solid 2rem #ffffff;
        box-sizing: border-box;
        filter: blur(2.005rem);
        border-radius: 22.2rem;
        width: 44.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(217, 217, 217, 0);

        .ellipse-10-UMo {
          border-radius: 22.2rem;
          width: 100%;
          height: 44.4rem;
          border: solid 1.1rem #ffffff;
          box-sizing: border-box;
          background-color: rgba(217, 217, 217, 0);
        }
      }
      .msicyborg15-removebg-preview-1-AVX {
        left: 5.8rem;
        top: 1.7rem;
        background-size: 130.058% 107.656%;
        background-position: -5.2601rem -1.6185rem;
        background-image: url('REPLACE_IMAGE:5d3268e7e7dffeb3a63ce390c1d013a50144d52a');
        width: 35rem;
        height: 42.2832rem;
        position: relative;
      }
    }
    .group-23-3ZK {
      display: flex;
      flex-direction: column;
      box-shadow: 1.6rem 1.6rem 2.26rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .auto-group-yguj-Qem {
        margin: 0rem 0rem 5.5rem 13.1rem;
        width: 54.4rem;
        height: 42.5rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-18-8am {
          border-radius: 1.3rem;
          width: 49.2rem;
          height: 30.4rem;
          position: absolute;
          left: 2.2rem;
          top: 9.5rem;
          background-color: #000000;
        }
        .msi-cyborg-15-adalah-perangkat-berjiwa-gaming-yang-memukau-menciptakan-aliansi-antara-kekuatan-dan-gaya-futuristik-desainnya-yang-mempesona-tidak-hanya-mencuri-perhatian-tetapi-juga-menggambarkan-esensi-dari-semangat-gamer-yang-tak-kenal-lelah-dengan-layar-yang-tajam-dan-warna-yang-hidup-cyborg-15-membawa-pengguna-masuk-ke-dalam-dunia-gaming-yang-mendalam-keyboard-yang-ergonomis-dan-pencahayaan-rgb-yang-dapat-disesuaikan-menciptakan-suasana-gaming-yang-benar-benar-immersif-memungkinkan-pemain-untuk-mengendalikan-setiap-aksi-dengan-presisi-TN9 {
          font-family: DM Sans, 'Source Sans Pro';
          height: 25.1rem;
          position: absolute;
          font-size: 1.5rem;
          line-height: 1.5203999837;
          color: #ffffff;
          width: 43.4rem;
          left: 4.5rem;
          top: 12.3rem;
          font-weight: 700;
        }
        .rectangle-9-ZZb {
          border-radius: 1.1rem;
          width: 6.5rem;
          height: 6.2rem;
          position: absolute;
          left: 47.9rem;
          top: 36.3rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
        }
        .rectangle-14-VTF {
          top: 7.4rem;
          background-color: rgba(0, 209, 255, 0.8199999928);
          border-radius: 1.1rem;
          width: 4.4rem;
          height: 4.2rem;
          position: absolute;
          left: 0;
        }
        .group-20-E9w {
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 52.2rem;
          top: 6.4rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;

          .rectangle-21-xrd {
            width: 100%;
            height: 17rem;
            background-color: #ffffff;
            border-radius: 1.1rem;
          }
        }
        .group-21-He1 {
          top: 16rem;
          filter: blur(0.395rem);
          background-color: #ffffff;
          border-radius: 1.1rem;
          width: 0.7rem;
          height: 17rem;
          position: absolute;
          left: 0.8rem;

          .rectangle-21-ptq {
            background-color: #ffffff;
            border-radius: 1.1rem;
            width: 100%;
            height: 17rem;
          }
        }
        .msi-cyborg-15-9gD {
          font-size: 4.8rem;
          color: #00d1ff;
          position: absolute;
          left: 2.2rem;
          top: 0;
          font-weight: 900;
          line-height: 1.5204000473;
          font-style: italic;
          width: 36.2rem;
          height: 7.3rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-24-TB7 {
        align-items: center;
        border-radius: 2.3rem;
        font-weight: 900;
        color: #ffffff;
        display: flex;
        background-color: #2a2a2a;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 17.9rem;
        font-size: 1.5rem;
        justify-content: center;
        height: 7rem;
        line-height: 1.5203999837;
      }
    }
  }
}
