
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.authors-vJu {
  width: 100%;
  height: 208.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.authors-vJu .ellipse-4-Mf7 {
  width: 40rem;
  height: 40rem;
  position: absolute;
  left: 77.8rem;
  top: 44.4rem;
  filter: blur(17.855rem);
  background-color: #000000;
  border-radius: 20rem;
}
.authors-vJu .rectangle-1-gBb {
  width: 64rem;
  height: 208.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 209, 255, 0.6499999762);
}
.authors-vJu .ellipse-15-p2u {
  width: 40rem;
  height: 40rem;
  position: absolute;
  left: 4.3rem;
  top: 101.1rem;
  filter: blur(17.855rem);
  background-color: #000000;
  border-radius: 20rem;
}
.authors-vJu .ellipse-14-8ZP {
  width: 61.5rem;
  height: 61.5rem;
  position: absolute;
  left: 87rem;
  top: 172.4rem;
  filter: blur(24.5rem);
  background-color: #00d1ff;
  border-radius: 30.75rem;
}
.authors-vJu .ellipse-16-Ftu {
  width: 40rem;
  height: 40rem;
  position: absolute;
  left: 84.8rem;
  top: 155.3rem;
  filter: blur(17.855rem);
  background-color: #000000;
  border-radius: 20rem;
}
.authors-vJu .ellipse-3-agH {
  width: 63.1rem;
  height: 60.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.authors-vJu .adha-part-vVF {
  width: 118.6083rem;
  height: 63.5rem;
  position: absolute;
  left: 8.8rem;
  top: 150.2rem;
  display: flex;
  align-items: flex-start;
}
.authors-vJu .adha-part-vVF .mhdfajaradhanasution-3Zs {
  margin: 2.1rem 4.1rem 0rem 0rem;
  max-width: 4.4rem;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Exo 2, 'Source Sans Pro';
  flex-shrink: 0;
}
.authors-vJu .adha-part-vVF .auto-group-hpw5-wfF {
  width: 110.1083rem;
  height: 50.4rem;
  position: relative;
  flex-shrink: 0;
}
.authors-vJu .adha-part-vVF .auto-group-hpw5-wfF .rectangle-31-62M {
  width: 108.6rem;
  height: 50.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(96, 96, 96, 0.6999999881);
  border-radius: 7rem;
}
.authors-vJu .adha-part-vVF .auto-group-hpw5-wfF .gambar-adha-R4d {
  width: 49.6083rem;
  height: 47.8114rem;
  position: absolute;
  left: 60.5rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.authors-vJu .adha-part-vVF .auto-group-hpw5-wfF .haiiinama-sayaa-fajarr-saya-dari-kom-a-saya-tinggal-di-medan-pancingg-hobi-sayaa-main-futsal-kMo {
  width: 52.5rem;
  height: 9rem;
  position: absolute;
  left: 7.4rem;
  top: 22.2rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: 0.023rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
}
.authors-vJu .adha-part-vVF .auto-group-hpw5-wfF .muhammad-fajar-adha-npH {
  width: 49.9rem;
  height: 4.9rem;
  position: absolute;
  left: 13rem;
  top: 1.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.04rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.authors-vJu .arinta-part-sqj {
  width: 120rem;
  height: 50.4rem;
  position: absolute;
  left: 0;
  top: 92.3rem;
  display: flex;
  align-items: flex-end;
}
.authors-vJu .arinta-part-sqj .auto-group-vset-cYR {
  margin-right: 4.1rem;
  width: 111.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.authors-vJu .arinta-part-sqj .auto-group-vset-cYR .rectangle-32-Yws {
  width: 108.6rem;
  height: 50.4rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  background-color: rgba(96, 96, 96, 0.6999999881);
  border-radius: 7rem;
}
.authors-vJu .arinta-part-sqj .auto-group-vset-cYR .gambar-arinta-UqX {
  width: 49.6083rem;
  height: 50.0609rem;
  position: absolute;
  left: 0;
  top: 0.0068rem;
  object-fit: contain;
  vertical-align: top;
}
.authors-vJu .arinta-part-sqj .auto-group-vset-cYR .hi-everyone-i-am-arinta-ribka-a-3rd-semester-student-majoring-in-information-engineering-after-two-challenging-semesters-i-am-increasingly-fascinated-by-this-vast-world-full-of-creative-codes-and-innovative-solutions-my-interest-in-information-engineering-is-not-only-limited-to-a-love-of-programming-but-also-a-deep-understanding-of-how-technology-can-shape-the-world-around-us-from-algorithms-to-software-development-i-have-enjoyed-every-step-of-this-journey-pPb {
  width: 53.9rem;
  height: 33rem;
  position: absolute;
  left: 51rem;
  top: 11.5rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: 0.023rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
}
.authors-vJu .arinta-part-sqj .auto-group-vset-cYR .arinta-ribka-tampubolon-94V {
  width: 54.7rem;
  height: 4.9rem;
  position: absolute;
  left: 48.4rem;
  top: 1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.04rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.authors-vJu .arinta-part-sqj .arintaribkaa-ELq {
  margin-bottom: 3rem;
  max-width: 4.6rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3025;
  color: #000000;
  font-family: Exo 2, 'Source Sans Pro';
  flex-shrink: 0;
}
.authors-vJu .abin-part-m5s {
  width: 119.0083rem;
  height: 55.7rem;
  position: absolute;
  left: 9.5rem;
  top: 32.4rem;
  display: flex;
  align-items: flex-end;
}
.authors-vJu .abin-part-m5s .daggerbrant-5sF {
  margin-right: 3.1rem;
  max-width: 4.7rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Exo 2, 'Source Sans Pro';
  flex-shrink: 0;
}
.authors-vJu .abin-part-m5s .auto-group-f8kv-RAR {
  margin-bottom: 4.4rem;
  width: 111.2083rem;
  height: 51.3rem;
  position: relative;
  flex-shrink: 0;
}
.authors-vJu .abin-part-m5s .auto-group-f8kv-RAR .rectangle-31-MJy {
  width: 108.6rem;
  height: 50.4rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  background-color: rgba(96, 96, 96, 0.6999999881);
  border-radius: 7rem;
}
.authors-vJu .abin-part-m5s .auto-group-f8kv-RAR .gambar-abin-t41 {
  width: 49.6083rem;
  height: 48.1392rem;
  position: absolute;
  left: 61.6rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.authors-vJu .abin-part-m5s .auto-group-f8kv-RAR .hi-saya-abin-saya-sangat-suka-menjadi-kiper-walaupun-tak-pandai-hidup-saya-penuh-ketenangan-dan-saya-berusaha-untuk-lebih-tenang-agar-ketenangan-itu-membawa-hati-yang-damai-dan-sehat-selalu-tamat-zsj {
  width: 50.2rem;
  height: 15rem;
  position: absolute;
  left: 8.1rem;
  top: 18.5rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: 0.023rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
}
.authors-vJu .abin-part-m5s .auto-group-f8kv-RAR .ahmad-bintang-fadhillah-E1P {
  width: 54.7rem;
  height: 4.9rem;
  position: absolute;
  left: 10.3rem;
  top: 2.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.04rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.authors-vJu .authors-75B {
  box-sizing: border-box;
  padding: 0rem 0.1rem 0rem 2.1rem;
  width: 29.8rem;
  height: 5.8rem;
  position: absolute;
  left: 49.1rem;
  top: 6.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5204000473;
  letter-spacing: 1.792rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #000000;
}
.authors-vJu .back-9Xf {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 6.6rem;
  top: 5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.864rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
