
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.2rem;
}.rexus-vonix-f15-XX7 {
  width: 100%;
  height: 65.8rem;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: rgba(63, 63, 63, 0.6999999881);
  border-radius: 6.3rem;
}
.rexus-vonix-f15-XX7 .group-19-UhF {
  width: 31.1rem;
  height: 6.3rem;
  position: absolute;
  left: 42.9rem;
  top: 4.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5204000473;
  letter-spacing: 0.448rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.rexus-vonix-f15-XX7 .rexus-headset-f15-atau-dikenal-dengan-sebutan-vonix-f15-adalah-headset-gaming-yang-dilengkapi-oleh-speaker-dan-microfon-yang-memiliki-fungsi-dan-spesifikasi-berbeda-vonix-f15-ditawarkan-kepada-anda-yang-ingin-memilki-headset-dengan-kualitas-dan-kinerja-terbaik-dengan-harga-yang-relative-terjangkau-dengan-tingkat-sensitifitas-sebesar-115db-menghasilkan-kejernihan-suara-yang-sangat-baik-dibandingkan-dengan-headset-standar-lainnya-anda-dapat-merasakan-kualitas-suara-terbaik-yang-dihasilkan-melalui-headset-ini-dan-microfon-yang-bekerja-secara-terarah-dengan-mengambil-suara-dari-segala-arah-fixed-microphone-buit-in-high-sensitivity-and-noise-reduction-5mm-cable-diameter-with-bold-fabric-and-durable-material-strenght-cable-with-tensile-resistance-use-imitation-leather-pu-earpad-perfect-fit-on-your-ears-9Hb {
  width: 102.4rem;
  height: 45.6rem;
  position: absolute;
  left: 6.5rem;
  top: 15.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168299675;
  color: #00d1ff;
  font-family: DM Sans, 'Source Sans Pro';
}
.rexus-vonix-f15-XX7 .rectangle-44-itR {
  width: 114.6rem;
  height: 64.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  border: solid 0.6rem #00d1ff;
  box-sizing: border-box;
  filter: blur(0.98rem);
  border-radius: 6.3rem;
}
.rexus-vonix-f15-XX7 .rectangle-45-ciu {
  width: 114.6rem;
  height: 64.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  border: solid 0.6rem #00d1ff;
  box-sizing: border-box;
  border-radius: 6.3rem;
}
