
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.2rem;
}.rog-strix-g15-igy {
  width: 100%;
  height: 65.8rem;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: rgba(63, 63, 63, 0.6999999881);
  border-radius: 6.3rem;
}
.rog-strix-g15-igy .group-19-GiV {
  box-sizing: border-box;
  padding: 0rem 1.1rem 0rem 1.3rem;
  width: 29.8rem;
  height: 5.8rem;
  position: absolute;
  left: 43.2rem;
  top: 5.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5204000473;
  letter-spacing: 0.448rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #ffffff;
}
.rog-strix-g15-igy .amd-ryzen-7-4800h-processor-29-ghz-8m-cache-up-to-42-ghz-nvidia-geforce-gtx-1650-with-rog-boost-up-to-1615mhz-at-50w-65w-with-dynamic-boost-4gb-gddr6-156-inci-fhd-1920-x-1080-16-9-anti-glare-display-srgb-625-adobe-4734-refresh-rate-144hz-level-ips-adaptive-sync-optimus-8gb-ddr4-3200-so-dimm-max-capacity-32gb-512gb-m2-nvme-pcie-30-ssd-windows-10-home-audio-oleh-dolby-atmos-wi-fi-680211axbluetooth-51-dual-band-22bt-version-may-change-with-os-upgrades-rangeboost-iaV {
  width: 96.7rem;
  height: 40.1rem;
  position: absolute;
  left: 6.5rem;
  top: 18rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5168299675;
  color: #00d1ff;
  font-family: DM Sans, 'Source Sans Pro';
}
.rog-strix-g15-igy .rectangle-44-NYZ {
  width: 114.6rem;
  height: 64.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  border: solid 0.6rem #00d1ff;
  box-sizing: border-box;
  filter: blur(0.98rem);
  border-radius: 6.3rem;
}
.rog-strix-g15-igy .rectangle-45-Ubb {
  width: 114.6rem;
  height: 64.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  border: solid 0.6rem #00d1ff;
  box-sizing: border-box;
  border-radius: 6.3rem;
}
